# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Vault storage and local tokens
databricks/vault/data/
databricks/tokens.txt

# Configuracion de Ngnix
web/nginx.conf

# Archivos de Kafka
kafka/old/
kafka/01_setup.py
kafka/CHECKLIST.md
kafka/COMANDOS.ps1
kafka/consumer.py
kafka/INDEX.md
kafka/Pruebas Cambios en SQL.sql
kafka/QUICK_START.md

# Binarios y Backups
databricks/jars/
storage/SQL Server/
storage/DB2/

# Archivos temporales y de sistema
*.swp
*.swo
*.DS_Store