# Credenciales y docker-compose con Contraseñas Quemadas
credenciales.txt
storage/docker-compose.yml
kafka-kraft/docker-compose.yml
kafka-zookeeper/docker-compose.yml
databricks/docker-compose.yml

# Stack Web
web/nginx/

# Stack Storage
storage/sql-server/
storage/db2/

# Stack Kafka
kafka/

# Stack Databricks
.ipynb_checkpoints/
databricks/jars/
databricks/vault/data/
databricks/tokens.txt

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Temporales y System Files
*.swp
*.swo
*.DS_Store

# En Desarrollo
kubernetes/